@import url(../font-awesome-4.7.0/css/font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Neue+Helvetica:300,400";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300,100";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

head {
    display: none;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* Nav */
nav > div > a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #18b2d6;
}

.navbar-dark-bg-inverse {
    background: rgba(0, 0, 0, 0.5);
}

nav #right-nav {
    float: right;
}

.nav.navbar-nav li a {
    color: #ffffff;
}

.nav.navbar-nav li a:hover {
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #18b2d6;
}

.navbar-toggler{
    background-image: url(../images/dropdownbutton.png)!important;
    }
/* Nav */

.background-tf1 {
    background: #ffffff url(../images/indexbackground.jpg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow:auto;
    background-size: cover;
}
.background-tf2 {
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 60%;
    overflow:auto;
    top: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.background-tf2 > .social {
    width: 30%;
    margin: 20px;
    font-weight: 100;
    text-align: center !important; 
}

.background-tf2 > .social > a {
    color: #373A3C;
}

.background-tf2 > .info {
    width: 30%;
    margin: 20px;
    font-weight: 100;
    text-align: center !important; 
}

.tf-logo .logo {
    animation: fadeSideIn .5s;
    -webkit-animation: fadeSideIn .5s;
    -moz-animation: fadeSideIn .5s;
    -o-animation: fadeSideIn .5s;
    max-width: 70%;
    position: relative;
    display: block;
    margin: 1em auto;
}

div {
    display: block;
}

/* Carousel */
.carousel-wrapper {
    position: absolute;
    padding:30px;
    margin:0;

    top:8%;
    left:0;

    width: 100%;
    height: 92%;
}

.carousel-item {
    animation: fadeSideIn 1s;
    -webkit-animation: fadeSideIn 1s;
    -moz-animation: fadeSideIn 1s;
    -o-animation: fadeSideIn 1s;
}

.carousel-index {
    text-align: center;
    padding: 7% 0;
}
.carousel-item b {
    color: #ffffff;
    font-size: 5vw;
    text-shadow: 0em 0em 0.1em rgba(0,0,0,0.5);
    margin: auto;
}
/* Carousel */

.jumbotron-fluid {
    background: #ffffff url(../images/backgroundall6.png) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow:auto;
    background-size: cover;
}

#body-content {
    min-height: 100vh;
    max-width: 900px;
    max-height: 100%;
    height: 50vh;
    padding: 16px;
    margin: 0 auto;
    position: relative;
    top: 420px;
}

.card {
    animation: fadeUpIn .5s;
    -webkit-animation: fadeUpIn .5s;
    -moz-animation: fadeUpIn .5s;
    -o-animation: fadeUpIn .5s;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
    min-width: 150px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 2pt;
    text-align: center;
    border: none;
    padding: 30px;
    font-family: "Lato", sans-serif;
}

#card-text {
    margin: 0em 1em;
    text-align: justify;
}

.news {
    text-align: center;
    font-size: 3em;
}

.news-info {
    text-align: center;
}

@-webkit-keyframes fadeUpIn {
    from {
        opacity: 0.5;
        top: 150px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-moz-keyframes fadeUpIn {
    from {
        opacity: 0.5;
        top: 150px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-o-keyframes fadeUpIn {
    from {
        opacity: 0.5;
        top: 150px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes fadeSideIn {
    from {
        background-color: rgba(0, 0, 0, 0.12);;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeSideIn {
    from {
        background-color: rgba(0, 0, 0, 0.12);;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadeSideIn {
    from {
        background-color: rgba(0, 0, 0, 0.12);;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card #card-header {
    font-weight: 400;
    margin: 16px 0px;
}

.card #card-text {
    padding: 30px;
    box-shadow: none;
}

.btn {
    display: block;
    margin: 40px auto;
}

#map {
    margin: 30px auto;
}

.img-fluid#intro {
    width: 50%;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}

.img-fluid#news1 {
    max-width: 100%;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}

#logo{
    width: 35px;
    margin-right: 13px;
}

.col-md-4 {
    padding: 40px 20px;
}

.row#portraits p {
    font-size: 12px;
}

.img-fluid#pic {
    width: 45%;
    /*border-radius: 50%;*/
    padding: 5px;
    margin: 10px auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}

.img-fluid#prof {
    /*border-radius: 50%;*/
    padding: 5px;
    margin: 10px auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}