#navbar {
    width: 100%;

    transition-property: background, box-shadow, padding, top,;
    transition-duration: 0.5s;
    z-index: 1000;

    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 50px;
    box-sizing: border-box;
}


#navbar.sticky {
    transition-property: background, box-shadow, padding;
    position: fixed;

    /* Following two attributes is to avoid the logo from "jumping down" */
    padding-top: 215px; /* This needs to be equal to base padding-top - the new top value i.e. (15 - (-200))*/
    top: -200px; /* This needs to be the same as the scroll cutoff in the js file */
    
    background: black;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

#navbar .navbar-toggler {
    outline: none;
    border: none;
}

#navbar .navbar-collapse {
    /* padding-top: 15px; */
}

/* Logo */
.logo, #navbar:not(.sticky) .navbar-toggler.collapsed ~ .logo{ 
    position: absolute;
    top: 120px;
    left: calc(50% - 33vw);
    width: 66vw;
    /* height: auto; */
    z-index: 900;

    transition: all 0.6s;
}

.logo img {
    width: 100%;
}

#navbar.sticky .logo, #navbar .collapsing ~ .logo, #navbar .collapse.show ~ .logo {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 200px;
    transform: translate(0%, 0);

    z-index: 1000;
}


/* Links */
#navbar .nav-item .nav-link {
    font-size: 1.2em;
    color: white;
    transition: color 0.2s;
}

#navbar .nav-item .nav-link:hover
{
    color: var(--primary);
}

