@import "theme.css";

@theme {
  --animate-caret-blink: caret-blink 1s step-end infinite;
  @keyframes caret-blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
