[data-theme="light"] {
  color-scheme: light;
  --color-primary: theme("colors.teknikfokus.500");
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: theme("colors.teknikfokus.50");
  --color-background-offset: theme("colors.teknikfokus.100");
  --color-border: theme("colors.gray.900" / 10%);
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-primary: theme("colors.teknikfokus.400");
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.teknikfokus.950");
  --color-background-offset: theme("colors.teknikfokus.800");
  --color-border: theme("colors.gray.50" / 10%);
}
