<link rel="stylesheet" href="css/footer.css">
<div class="footer w-100 pt-5 pb-3">
  <div class="container py-4">
    <div class="mx-auto d-block text-center mb-5">
      <a class="social-media-icon" href="https://www.instagram.com/teknikfokus/"><i class="fab fa-facebook-f"></i></a>
      <a class="social-media-icon" href="https://www.linkedin.com/company/teknikfokus/"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-media-icon" href="https://www.instagram.com/teknikfokus/"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="row">
        <div class="col d-none d-lg-block"></div>
        <div class="text-center col-12 col-md-6 col-lg-4 contact-info mb-4">
        <span>Emil Holm, Project manager</span><br>
        <a href="mailto:emil@teknikfokus.se">emil@teknikfokus.se</a><br>
        </div>
        <div class="text-center col-12 col-md-6 col-lg-4 contact-info">
        <span>Jonna Fahrman, Project manager</span><br>
        <a href="mailto:jonna@teknikfokus.se">jonna@teknikfokus.se</a><br>
        </div>
        <div class="col d-none  d-lg-block"></div>
    </div>
  </div>  
</div>