---
import Layout from "~/layouts/Layout.astro";
import Company from "~/components/company.astro";
import IAESTE from "~/assets/companies/IAESTE.png";
import iGem from "~/assets/companies/iGem Lund.png";
import Infrasight from "~/assets/companies/Infrasight Labs.png";
import Iternio from "~/assets/companies/Iternio-Rivian.png";
import LFS from "~/assets/companies/Lund formula student.png";
import MCA from "~/assets/companies/MCA.png";
import Molnlycke from "~/assets/companies/Molnlycke Health Care.png";
import Neo4j from "~/assets/companies/Neo4j.png";
import Netcompany from "~/assets/companies/Netcompany.png";
import Sectra from "~/assets/companies/Sectra.png";
import Tactel from "~/assets/companies/Tactel.png";
import Verisure from "~/assets/companies/Verisure.png";
import Visma from "~/assets/companies/Visma.png";
import Voyado from "~/assets/companies/Voyado.png";
import Acconeer from "~/assets/companies/Acconeer.png";
import ASSA from "~/assets/companies/ASSA ABLOY.png";
import Axis from "~/assets/companies/Axis Communications.png";
import Bosch from "~/assets/companies/Bosch.png";
import Capgemini from "~/assets/companies/Capgemini.png";
import Combitech from "~/assets/companies/Combitech.png";
import Cygni from "~/assets/companies/Cygni.png";
import Ericsson from "~/assets/companies/Ericsson.png";
import Gigstep from "~/assets/companies/Gigstep.png";
import Grade from "~/assets/companies/Grade.png";
import Hello from "~/assets/companies/Hello World!.png";

const companies = [
  {
    name: "Lime Technologies",
    description: `At Lime, we love CRM! 

Lime is a successful Nasdaq-listed international software company that develops, sells, and implements its own CRM solutions. We have shown profitable growth ever since the early days of being a start-up in the 90ties and are now among the market leaders in northern Europe. Today we are around 400 colleagues and with offices in Sweden, Norway, Denmark, Finland, Netherlands, and Germany. 

We are extremely passionate, and we usually say that the only thing we take seriously is our customers. Still interested? Great!  We are constantly on the lookout for new and passionate talents with strong technical interests. Now we are looking for you who want to be a part of the sharpest CRM team and join our European Trainee Program with start in January and August every year.

Let’s unpack your potential, welcome to Lime!`,
  },
  {
    name: "Volvo Cars",
    description: `A company with a great heritage & purpose

We share a rich and purposeful heritage and even bolder future aspirations to match. Since 1927, we have created world-changing safety innovation: The modern seatbelt. The side impact protection system. The pedestrian detection system (to name just a few). In the spirit of openness, collaboration, and curiosity, we welcome you to an echo system of diverse talent and teams that allow us to do more together, to do good together. And to solve sustainable, safe and personal mobility for all.  
  
We are a global organization where the future of mobility is assembled 

Volvo Cars is one of the most well-known and respected premium car brands, preparing for a new future that will be all-electric, autonomous, and connected. This proud history of innovation is the result of a collaborative, diverse and inclusive Volvo Cars community. Grounded in a shared passion for protecting people and our planet. In short, without people that care, there is no positive progress.  A progressive global organization committed to driving change awaits – a place where ideas can be freely expressed, creativity can flourish, and you can proudly contribute to the exploration of our shared future. 

Freedom to Be - the Swedish way 

Our commitment to people is the Freedom to Be in a personal, sustainable, and safe way - echoing our purpose of giving people the Freedom to move.  From clean air and water to genuine care and respect for the individual, we offer a truly people-centric work environment. At Volvo Cars, minimizing the use of resources is as natural as maximizing well-being. In essence, what we offer is quality of all aspects of life – the Swedish way.   
 

Changemakers who share our aspirations and values 

We are calling the free thinkers. The self-motivators. The visionaries. The leaders. The dreamers. The believers.  The doers. We welcome you who share our aspirations; low – tech and hi–tech, art and science, design and function, education, and innovation.  
`,
  },
  {
    name: "u-blox",
    description: `u-blox (SIX:UBXN) is a global technology leader in positioning and wireless communication in automotive, industrial, and consumer markets. Their smart and reliable solutions, services and products let people, vehicles, and machines determine their precise position and communicate wirelessly over cellular and short range networks. With a broad portfolio of chips, modules, and secure data services and connectivity, u blox is uniquely positioned to empower its customers to develop innovative and reliable solutions for the Internet of Things, quickly and cost effectively. With headquarters in Thalwil, Switzerland, the company is globally present with offices in Europe, Asia, and the USA. (www.u-blox.com)`,
  },
  {
    name: "ADB Safegate",
    description: `ADB SAFEGATE is a company that provides integrated solutions to airports, airlines, and ANSPs. As a technology leader, we aim to raise airport efficiency, safety, and environmental sustainability while reducing operational costs. We tackle operational bottlenecks, enabling our clients to address current challenges while preparing for the future.

We are proud to be leading the way with innovative and smart Airside 4.0 solutions that turn airports into smart airports, with the ultimate goal of enhancing the passenger experience. Solutions include airfield lighting, power and control systems, airport and tower software, docking automation, apron management, and aftermarket services. Additionally, we are committed to providing our customers products that help minimize the ecological footprint of the air transport industry.

With over 1,400 employees and over 2,700 airports in over 175 countries, from the busiest and largest to the fastest-growing airports, ADB SAFEGATE is dedicated to making air travel safe, efficient, and environmentally friendly.

To learn more about ADB SAFEGATE and our innovative Airside 4.0 solutions, please visit our website at adbsafegate.com.`,
  },
  {
    name: "E.ON",
    description: `E.ON is a privately owned international energy company. Our 75,000 colleagues in 15 countries work daily towards the improvement of technical innovations and user-friendly customer solutions for the new energy world. We are the first large energy company to focus more heavily upon the energy of the future through our business areas of energy networks and customer solutions. A new energy landscape is emerging and demand for renewable energy is increasing. We are driving the transition, we are renewing Sweden and we want our concern for the future to influence our work every day.`,
  },
  {
    name: "Vomerce",
    description: `Vomerce - helping by donating unwanted clothes. Our project aims to create a fundraising platform that enables donors to support transparent charitable causes by donating unwanted clothes. We digitise existing methods of clothing collection by increasing transparency and convenience. `,
  },
  {
    name: "Netlight Consulting",
    description: `Netlight is a leading digital consultant company of 2 000 role models making aspiring digital leaders successful. Providing a full range of consultancy services from technology and design to data and management. Netlight has been awarded several times as top employer, as well as for growth, continued profitability and engagement for equality and diversity within the IT industry. Located in Stockholm, Oslo, Helsinki, Copenhagen, Munich, Hamburg, Berlin, Frankfurt, Zurich, Cologne and Amsterdam. `,
  },
  {
    name: "Prodigies",
    description: `Prodigies simplifies the high school student's path to post-secondary education through an easy-to-use mobile application that includes the total post-secondary landscape.`,
  },
  {
    name: "Albatrac",
    description: `Welcome to Albatrac, a startup where we are pioneering the future of golf technology. Our app revolutionizes the game, offers real-time shot tracking and eliminates manual data entry. For coaches working with aspiring professionals, we provide a centralized dashboard that goes beyond simple shot tracking. Dive into detailed analyses of each player's performance, uncover trends, and make data-driven decisions to refine training procedures. It's not just about the swing; it's about empowering coaches to unlock the full potential of their players.

Exciting opportunities await! Albatrac is actively seeking passionate individuals to join our startup. If you're enthusiastic about reshaping the future of golf technology and want to be part of a dynamic team, we invite you to explore career possibilities with us. 
`,
  },
  {
    name: "Venture Cup",
    description: `Venture Cup is the competition for the entrepreneurs of tomorrow. Our purpose is to connect people with ideas with experts and the crowd, to ignite the creation of new businesses and empower the growth of Sweden. Venture Cup offers inspiration, education, guidance and the oppertunity to build a solid network. `,
  },
  { name: "Columbia Road", description: `Digital sales consultancy` },
  {
    name: "IAESTE Lund",
    image: IAESTE,
    description: `International Association for the Exchange of Students for Technical Experience (IAESTE) is an international non-profit organisation. We benefit students, employers and universities through the IAESTE network. Paid internships abroad help students gain professional experience and cross-cultural skills. Employers and universities gain access to talented international interns, who bring new impulses and insights to their business or research. IAESTE provides primarily STEM internships, however we expand to other fields, such as marketing, management and languages. IAESTE connects students and employers in more than 80 countries worldwide. 

iaeste.org
iaeste.se 
https://www.linkedin.com/company/iaeste-lund/ `,
  },
  {
    name: "iGEM Lund",
    image: iGem,
    description: `iGEM is a competition in Synthetic Biology involving students from all over the world. The teams work on projects aiming at solving problems within fields such as therapeutics, diagnostics, environment or food, to mention a few. The competition culminates in a Grand Jamboree where all teams meet and present their projects to each other and a jury of experienced judges, all taking place in Paris, France. The Lund team for 2024 are now looking for students in data science or similar to complement the team. Tasks could include website coding, design, computer modeling or whatever the project requires. Come talk to us during Wednesday's fair to learn more!`,
  },
  {
    name: "Infrasight Labs",
    image: Infrasight,
    description: `InfraSight Labs is a Swedish software company that develops and provides vScope. vScope is an IT Asset Management tool that automatically inventories and provides an overview of organizations' IT information, whether it is located locally, in the cloud, or with an outsourcing partner. With the keywords simplicity, overview, and collaboration, vScope assists operations managers, IT managers, and service owners in keeping their IT information updated, enabling them to share it with technicians and other stakeholders.

Using vScope, IT departments can create powerful reports, analyses, and statistics to ensure a secure, stable, and cost-effective delivery of IT services. There is also the possibility to expand with features for cost allocation, automatic billing data, and a complete service catalog.

We started in 2010, and in just a few years, we have evolved from a small startup to an established player in the IT industry with customers both in Sweden and abroad.

Our product is built on in-house developed database technology, enabling numerous exciting development projects that we initiate and bring to fruition.`,
  },
  {
    name: "Iternio/Rivian",
    image: Iternio,
    description: `Rivian is on a mission to keep the world adventurous forever. This goes for the emissions-free Electric Adventure Vehicles we build, and the curious, courageous souls we seek to attract. 

Rivian/Iternio is establishing a strong foothold in the Lund technology scene and attracting talent aligned with Rivian's core values and motivated by our challenging vision of saving the planet by disrupting and revolutionizing the automobile industry. We are a cross functional team of all backgrounds that values diversity of culture, ideas, and talent. This is an exciting opportunity to join a high performing team early on and help grow our digital technology platform's technical foundation.

Iternio, based in Lund, Sweden, is a vital part of Rivian, and known for ABetterRouteplanner (ABRP), the leading EV trip planning app. We specialize in providing EV planning services and APIs, serving both Rivian's in-car navigation and external clients, including other car manufacturers.`,
  },
  {
    name: "Lund Formula Student",
    image: LFS,
    description: `Every year, we gather a new team and build a formula style racecar that we take down to Europe in the summer to compete against other universities from around the world, you may have seen it in StudieC. The team now consists of approximately 70 dedicated members who do this in their free time. Our workshop is located in the M-building, where we do everything from programming and electronics to welding and carbon fiber work. We are looking for individuals who have accumulated knowledge through studies or personal interest and are excited to apply it to something real, unlike the conventional labs at school. For information about the different positions, visit our website or apply when the recruitment for 2025 begins this spring! `,
  },
  {
    name: "MCA",
    image: MCA,
    description: `About us:

As a consultant at MCA you will get access to the most interesting projects, the most committed consultant managers and a company that will embrace your ambition to grow.

 

MCA Sweden is a consultancy company focused in the high tech-, embedded- and software engineering areas. We are a part of MCA Group with 1500 employees throughout Europe. In Sweden we are 140 employees, mainly in Gothenburg and also in Malmö/Lund. Our consultants are involved in projects at R&D intensive companies in the automotive, telecom and IT sectors.

 

Homepage: https://mca-groupe.com/sv-se/`,
  },
  {
    name: "Mölnlycke Health Care",
    image: Molnlycke,
    description: `Mölnlycke Health Care is a world leading medical solutions company, with the purpose to advance performance in healthcare from the hospital to the home.

Around the world, healthcare systems and professionals are under pressure to deliver better care, to more people, for better value. They need innovative solutions they can trust. That’s where we come in. Mölnlycke provides effective solutions and we’re always on the lookout for new ways to improve. Focusing on wound care and surgical procedures, Mölnlycke is organised around four Business Areas – Wound Care, Operating Room Solutions, Gloves and Antiseptics. Wound Care is our largest Business Area.

Our 8,775 employees are based all over the world, from the headquarters in Sweden to our 14 manufacturing sites – located in Belgium, Czech Republic, Denmark, Finland, Malaysia, Thailand, the UK and US – and sales offices. We operate in approximately 100 countries through commercial entities and distributors on five continents. `,
  },
  {
    name: "Neo4j",
    image: Neo4j,
    description: `Neo4j is the clear leader in the rapidly emerging graph database category. Our internet-scale graph platform helps companies around the world connect data to reveal invisible contexts and hidden relationships that drive breakthrough applications and analytics.

We build technology that helps cure cancers, addresses diabetes, and gets humans to Mars. We're proud to fight fraud, crush pandemics, and even help journalists uncover the secrets in the Panama papers.

Do you like to solve advanced and complex computer science problems? Do you like to be part of a team that values user success and where you can have intellectually honest discussions? Join our engineering headquarters located in Malmö, Sweden. You will also work with colleagues from our London office.
Did you know

Being a persistent store of connected information, Neo4j plays an essential role within Generative AI applications. Neo4j is used together with Large Language Models (LLMs) to create applications like chatbots, recommendation systems, and knowledge retrieval. Neo4j can serve as a complement to LLMs, keeping their output grounded, traceable, and accurate.`,
  },
  {
    name: "Netcompany",
    image: Netcompany,
    description: `Netcompany is a pure-play IT service company founded in 2000 with headquarters in Copenhagen, Denmark. Today, we leads the way in the next generation of IT consulting in Northern Europe, building modern IT solutions and introducing advanced use of technology for large global customer, side by side in agile teams. What guides us is a core belief that technology makes a real and positive difference to societies, businesses, the environment, and our common future – if done right. Our goal is to empower societies and citizens of Europe to stand independently and strongly, and to lead the way in shaping a better future for all.`,
  },
  {
    name: "Sectra",
    image: Sectra,
    description: `Sectra provides solutions for medial IT and cybersecurity. We assist hospitals and institutions training the future healthcare workforce in improving their efficiency, enabling better patient care. We also support defense, other government agencies, and various critical societal functions, helping them secure their communication against eavesdropping and protect their systems from intrusions. This is how we create conditions for healthier and safer societies.`,
  },
  {
    name: "Tactel",
    image: Tactel,
    description: `Älskar du att koda, lösa problem och leverera användarupplevelser i världsklass? Vill du ha en trygg och familjär arbetsplats där du känner dig avslappnad nog att ta av dig skorna? Välkommen till oss!

Tillsammans i agila team och med nära samarbete mellan teknik och design utvecklar vi framtidens system inom allt från kartlösningar på flygplan till appar för kollektivtrafik och mobiloperatörer i Norden. Lika vackra på insidan som på utsidan!`,
  },
  {
    name: "Verisure",
    image: Verisure,
    description: `Verisure is the leading provider of peace of mind and protection to residential and small business customers across Europe and Latin America. We deliver professionally-monitored smart alarms and outstanding service to over 5 million customers in 17 countries across Europe and Latin America, with a team of more than 25,000 colleagues 

Verisure’s brand family includes: Securitas Direct in Spain and Portugal, AlertAlarm, Falck Alarms and Mediaveil, to mention a few.

Our career site: https://careers.verisure.com/global/en/
Official website: https://www.verisure.com/`,
  },
  {
    name: "Visma",
    image: Visma,
    description: `Connected by software – driven by people

We develop and deliver software to small businesses, medium and large enterprises, and the public sector – improving the work-life of millions of people around the world. Our software simplifies and automates complex and manual work processes, empowering people’s everyday lives.

Visma is a collection of entrepreneurial companies, each with their own start-up mentality, personality, and leadership. Visma's revenue was € 2.06 billion in 2022, we have 15,000 employees and 1.7 million customers across Europe and Latin America. In Sweden we have 2,700 employees, read more at visma.se.`,
  },
  {
    name: "Voyado",
    image: Voyado,
    description: `Voyado is the ultimate solution for personalization and relevance across all channels—online and offline. Used by retailers and e-commerce companies worldwide, the Voyado customer experience cloud makes it possible for every brand to engage customers, elevate shopping experiences, and evolve their businesses.

Read about what it's like being a Voyadoer here: https://careers.voyado.com/`,
  },
  {
    name: "Acconeer",
    image: Acconeer,
    description: `Acconeer is a young and innovative company developing the world´s smallest 60 GHz radar based on research from Lund University. The Acconeer radar sensors combines extremely low power consumption with sub-mm distance estimation accuracy. It enables distance measurements, micro-motion detection, material classification and much more, all within a sensor sized 5×5 mm including antennas.

Acconeer is located in a brand-new office in Västra Hamnen, Malmö. We are currently a group of around 50 people with high R&D focus, working closely together over the R&D disciplines – hardware, software, and algorithm research. We have a large and growing international customer base in the automotive, consumer electronics, industrial and IoT segments which means our sensors are integrated in everything from cars and robotic lawn mowers to industrial tank-level gauges and touchless buttons for smart cities.

We love working in a scaleup where we have real possibilities to influence both the product and how we work. As we are a small company with open-minded employees it is always easy to discuss with people outside your team to satisfy your appetite for knowledge. We get to work with cutting edge technology in close collaboration with our colleagues. We believe that people are most efficient when we are allowed to plan our work life in a way that suits our individual needs and circumstances.
So even though we all have our personal desk in our lovely office, working from home is a natural part of our way of working at Acconeer. If you feel the same way about teamwork and amazing technology, we’d love to meet you! | http://www.acconeer.com/`,
  },
  {
    name: "ASSA ABLOY",
    image: ASSA,
    description: `Every day, we help billions of people move through a safer, more open world with ease. If you’ve ever walked through an automatic door, stayed in a hotel, or gone through passport control, you’ve probably used one of our products or services. Learn more at assaabloy.com Do you want to work with a company that is always growing, never boring and leading right? Check out our career opportunities here: https://www.assaabloy.com/career/en/open-positions`,
  },
  {
    name: "Axis Communications",
    image: Axis,
    description: `Axis is the industry leader in video surveillance, we develop and supply innovative network solutions that improve security and business performance. We were founded in 1984 and our headquarters are in Lund, Sweden. We are around 4,500 employees in over 50 countries. We provide network solutions in video surveillance, access control, intercom, and audio systems. They are enhanced by intelligent analytics applications and supported by high-quality training. Customers across the world use our solutions to protect people and property and improve business performance.
If you believe that creativity, commitment, and technology can change the world, then Axis is the place for you. We‘ll give you the opportunities and the support to explore your ideas and turn them into reality. In return, you’ll help us make the world a smarter, safer place. You get to work closely with a diverse team, to both create and use leading-edge technology. Axis is also a place to grow – you’ll get opportunities to develop as a professional and as an individual.
We are looking for students or recently graduated people who are interested in software, programming, encryption, design, AI, machine learning and much more. Find more at www.axis.com/student.`,
  },
  {
    name: "Bosch",
    image: Bosch,
    description: `https://www.bosch.se/en/news-and-stories/bosch-r-d-lund/`,
  },
  {
    name: "Capgemini",
    image: Capgemini,
    description: `Capgemini is a global leader in partnering with companies to transform and manage their business by harnessing the power of technology. The Group is guided every day by its purpose of unleashing human energy through technology for an inclusive and sustainable future. It is a responsible and diverse organization of nearly 350,000 team members in more than 50 countries. With its strong 55-year heritage and deep industry expertise, Capgemini is trusted by its clients to address the entire breadth of their business needs, from strategy and design to operations, fueled by the fast evolving and innovative world of cloud, data, AI, connectivity, software, digital engineering, and platforms. The Group reported in 2022 global revenues of €22 billion.

Get The Future You Want | https://www.capgemini.com/se-en/careers/career-paths/students-and-graduates/ignite-graduate-program/`,
  },
  {
    name: "Combitech",
    image: Combitech,
    description: `Nordiska teknikkonsulter med världen som spelplan
Vi  på Combitech accelererar utvecklingen av ett smartare, mer hållbart och mer motståndskraftigt samhälle. Genom att kombinera vår solida erfarenhet och kunskap från försvars- och industrisektorn säkerställer vi att verksamheter, samhällen och vårt totalförsvar står stadiga inför framtidens utmaningar. 

Vi är en Nordisk tech lösnings- och konsultpartner som utgörs av 2100 passionerade experter som tillsammans med våra kunder arbetar med att utmana teknikens gränser för att göra skillnad. 

Technology with a purpose, helt enkelt! `,
  },
  {
    name: "Cygni",
    image: Cygni,
    description: `From the very beginning in 2006, we had a clear vision - Cygni is to be the best employer for skilled and ambitious IT consultants. Our consultants encompass full-stack developers, front-end developers, mobile developers, UX designers, embedded developers, digital designers, and project managers. Regardless of the industry, we can contribute to the development of our clients' digital systems. Today, we are present in Stockholm, Gothenburg, Linköping, Luleå, Malmö, Östersund, Umeå, and Copenhagen.

In addition to having Sweden's (or the world's?) sharpest developers, we are also committed to issues such as sustainability and gender equality. We continuously work towards contributing to a better society in the ways we can. We value our community and the act of doing things together, and we believe that's why we have won the fantastic award for Sweden's Best Workplace and Europe's Best Workplace seven times. This recognition is awarded by the Great Place To Work foundation, a testament to our commitment to prioritizing our employees!

Do you want to know more - https://cygni.se!`,
  },
  {
    name: "Ericsson",
    image: Ericsson,
    description: `At Ericsson you’ll have a unique opportunity.

The chance to use your skills and imagination to push the boundaries of what’s possible. To create never-seen-before solutions to some of the world’s toughest problems. You’ll be challenged. But you won’t be alone. You’ll be part of a team of like-minded innovators, all driven to go beyond the status quo to build what comes next. You’ll collaborate across disciplines, borders and continents. You’ll be empowered to lead and perform at your best. You’ll shape technology for people, societies, industries and humanity. You’ll be part of a diverse community where you can bring your own perfectly-unique self to work.

At Ericsson you can be an explorer, a change maker and a force for good. 

Imagine a better, brighter tomorrow. You can be the one who makes it possible.`,
  },
  {
    name: "Gigstep",
    image: Gigstep,
    description: `We at Gigstep would like to describe ourselves as a hybrid solution between a traditional consulting company and a platform for freelancers – or giggers as we like to call them. We match the right candidate with the right gig and thereafter act as a middle hand between the two. There is a job for everyone and to be a part of finding the perfect match in this process is truly our passion. We always make sure that our consultants – or giggers – get on and flourish and that all parties are content and get what they need. `,
  },
  {
    name: "Grade",
    image: Grade,
    description: `Grade’s vision is to become the Nordic region's leading HR-tech provider for the public sector. The product suite consists of user-friendly tools that can seamlessly be integrated with each other. Grade supports municipalities, regions, authorities, and large enterprises throughout the entire employee journey – offering recruitment tools, digital onboarding, a learning management system, employee surveys, performance reviews, and more.
 
 The Grade group was founded in 2021 when Varbi, Grade, and Workbuster merged. Since then, Grade has continued to grow and expand its offerings and product range with Refensa, Realcruit, and Jobbnorge. 
 
 Grade: https://www.grade.com/
 Career page: https://career.grade.com/`,
  },
  {
    name: "Hello World!",
    image: Hello,
    description: `Hello World! is a non-profit organization that democratizes tech by offering a free After School program in coding and digital creation at schools and libraries. The target group is children and young people between the ages of 8-16 and our priority is reaching underrepresented groups in tech.
We are looking for students with basic programming skills who want to be part of our After School program and teach kids how to code! Our Hello World! leaders play a key role as they become role models for the participants and give them the tools and inspiration to choose a technical education. 
`,
  },
];
---

<Layout>
  <div
    class="mx-auto grid max-w-prose grid-cols-2 gap-4 p-8 sm:grid-cols-3 md:grid-cols-4"
    id="company-container"
  >
    {
      companies
        .sort((c1, c2) => {
          if (c1.name < c2.name) return -1;
          if (c1.name > c2.name) return 1;
          return 0;
        })
        .map((company) => (
          <div
            id={company.name}
            data-description={company.description}
            class="contents"
          >
            <Company {...company} />
          </div>
        ))
    }
  </div>
</Layout>

<div
  class="relative z-10 hidden"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  id="modal"
>
  <!--Background backdrop, show/hide based on modal state. -->
  <div
    id="modal-backdrop"
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
  >
  </div>

  <div class="fixed inset-0 top-20 z-10 w-screen">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <!-- Modal panel, show/hide based on modal state. -->
      <div
        class="relative transform overflow-hidden rounded-lg text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div
          class="max-h-96 overflow-y-auto bg-default px-4 pb-4 pt-5 sm:p-6 sm:pb-4 short:max-h-80"
        >
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="font-semibold leading-6 text-default text-base"
                id="modal-title"
              >
              </h3>
              <div class="mt-2">
                <p
                  class="break-words text-offset text-sm"
                  id="modal-description"
                >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-default px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            id="modal-close"
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-default px-3 py-2 font-semibold text-default text-sm sm:mt-0 sm:w-auto"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function setupModal() {
    const companies = document.querySelectorAll("#company-container > div");
    companies.forEach((company) => {
      company.addEventListener("click", () => {
        const name = company.id;
        const description = company.getAttribute("data-description");
        document.querySelector("#modal-title")!.textContent = name;
        document.querySelector("#modal-description")!.textContent = description;
        document.querySelector("#modal")?.classList.toggle("hidden");
      });
    });

    document.querySelector("#modal-close")?.addEventListener("click", () => {
      document.querySelector("#modal")?.classList.toggle("hidden");
    });
  }
  setupModal();
  document.addEventListener("astro:after-swap", setupModal);
</script>
