---
import Availabilitymapday1 from "~/components/availabilitymapday1.astro";
import Availabilitymapday2 from "~/components/availabilitymapday2.astro";

import Layout from "~/layouts/Layout.astro";
var data = await (
  await fetch(
    "https://raw.githubusercontent.com/teknikfokus/teknikfokus.github.io/spotdata/data.json",
    { method: "GET" },
  )
).json();
---

<Layout>
  <div id="dayData" data-day={JSON.stringify(data)}></div>
  <div class="mx-auto max-w-prose pt-10">
    Here you can see which spots are open for each day. Contact us at <a
      href="mailto:relations@teknikfokus.se"
      class="underline"
    >
      relations@teknikfokus.se</a
    >
    about securing a spot.
    <div class="mt-5 font-bold text-xl">Prices</div>
    One day: 30 000 kr <br />
    Two days: 40 000 kr
    <div class="text-center">
      <div class="font-bold text-lg">Day 1</div>
      <Availabilitymapday1 day={data.day1} />
      <div class="font-bold text-lg">Day 2</div>
      <Availabilitymapday2 day={data.day2} />
    </div>
  </div>
</Layout>
