---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  image?: ImageMetadata;
}
const { name, image } = Astro.props;
---

<div
  class="grid cursor-pointer place-items-center rounded-2xl bg-white p-4 shadow-xl transition-all hover:scale-110 sm:p-6 md:p-8"
>
  {
    image ? (
      <Image src={image} alt={name} class="h-full w-full object-contain" />
    ) : (
      <p class="font-bold text-teknikfokus-950">{name}</p>
    )
  }
</div>
