---
import TimelineBullet from "./timeline-bullet.astro";
import TimelineDay from "./timeline-day.astro";
import TimelineItem from "./timeline-item.astro";
---

<section class="z-0">
  <TimelineDay day="Thursday, 13th February">
    <TimelineItem time="09:00" title="Teknikfokus begins!" />
    <TimelineItem time="16:00" title="Teknikfokus closes" />
  </TimelineDay>

  <TimelineDay day="Friday, 14th February">
    <TimelineItem time="09:00" title="Teknikfokus continues" />
    <TimelineItem time="15:00" title="End of Teknikfokus" />
  </TimelineDay>

  <TimelineBullet />
</section>
