---
import TimelineBullet from "./timeline-bullet.astro";

interface Props {
  day: string;
}
const { day } = Astro.props;
---

<div class="relative flex">
  <TimelineBullet />
  <div class="flex-1">
    <h2
      class="mb-4 inline-block rounded-3xl bg-gradient-to-r from-blue-600 to-cyan-400 px-4 py-2 font-medium text-gray-100 text-xs dark:from-blue-400 dark:to-blue-500 dark:text-gray-100"
    >
      {day}
    </h2>
    <slot />
  </div>
</div>
