---
import TimelineBullet from "./timeline-bullet.astro";
import TimelineDay from "./timeline-day.astro";
import TimelineItem from "./timeline-item.astro";
---

<section class="z-0">
  <TimelineDay day="Tuesday, 13th February">
    <TimelineItem time="09:00" title="Teknikfokus begins!" />
    <TimelineItem
      time="12:00"
      title="Lunch Lecture"
      description="Did you stay up all night polishing your CV? Forgot to meal prep for the week? Tired of queuing for the microwaves? Verisure is here to save the day! They will be holding a lunch lecture in E:A and the first students to register will get a free lunch!"
    />
    <TimelineItem time="16:30" title="Teknikfokus closes" />
  </TimelineDay>

  <TimelineDay day="Wednesday, 14th February">
    <TimelineItem time="09:00" title="Teknikfokus continues" />
    <TimelineItem time="16:00" title="End of Teknikfokus" />
  </TimelineDay>

  <TimelineBullet />
</section>
