---
import "@fontsource-variable/inter";
import "~/styles/index.css";
import { ViewTransitions } from "astro:transitions";

const { generator, site } = Astro;
const description =
  "Teknikfokus 2025 is a career fair arranged by students at Lunds Tekniska Högskola, which connects students in Computer Science and Engineering, Information and Communication Engineering, Electrical Engineering and Biomedical Engineering with companies in their fields of interest.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Teknikfokus</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta
      name="author"
      content="Teknikfokus, D-Sektionen och E-sektionen på LTH"
    />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      function initializeTheme() {
        const themeSaved = localStorage.getItem("theme");

        if (themeSaved) {
          document.documentElement.dataset.theme = themeSaved;
        } else {
          const prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
          ).matches;
          document.documentElement.dataset.theme = prefersDark
            ? "dark"
            : "light";
        }

        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (event) => {
            if (!localStorage.getItem("theme")) {
              document.documentElement.dataset.theme = event.matches
                ? "dark"
                : "light";
            }
          });
      }
      initializeTheme();
      document.addEventListener("astro:after-swap", initializeTheme);
    </script>

    <ViewTransitions />
  </head>
  <body class="h-full overflow-x-hidden bg-default text-default text-base flex flex-col h-screen">
    <slot />
  </body>
</html>
